.input-con {
  margin: 1.7rem 0rem 1.5rem 0rem;
}

.input-text {
  width: 85%;
  border: none;
  border-bottom: solid 1px #000;
}

.error-text {
  color: rgb(245, 80, 80);
  font-size: 0.8rem;
  margin-top: 0.3rem;
  margin-left: 1.5rem;
  text-align: start;
}
