.bg-overlay1 {
  background: #202122;
  min-height: 90vh;
  margin-top: 5rem;
}

.login-box {
  background: #fff;
  min-height: 20rem;
  max-width: 24rem;
  border-radius: 10px;
}

.form-div {
  text-align: center;
  padding: 2rem 2.7rem 2rem 2.7rem;
}

.btn-submit {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 85%;
}

.button-con {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}
